body {
    margin: 0;
    padding: 0;
    background-image: url("/Users/richelleburke/Documents/UCF/UCF_Local/Week_1/Homework/Due_11.2/Solved/Recommended/Basic-Portfolio/assets/images/pipes.png");
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

/**************** NAV ****************/

.menu {
    background: #ffffff;
    border-bottom: 2px solid #dddddd;
}

header {
    width: 960px;
    margin: auto;
    line-height: 80px;
}

h1 {
    display: inline;
    padding: 80px 30px 27px 30px;
    background: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    color: white;
}

nav {
    float: right;
    height: 82px;
}

ul {
    display: inline;
    vertical-align: middle;
}

li {
    display: inline;
    border-right: .5px solid #777777;
}

li:last-child {
    border-right: none;
}

a {
    text-decoration: none;
    color: #777777;
    padding: 10px;
}


/* ul {
    list-style-type: none;
    display: inline;
    float: right;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
} */

/* nav {
    float: right;
    display: inline;
    margin: 0;
    word-spacing: 10px;
}

nav:last-child {
    border-right: none;
} */


/****************************************/

/**************** FOOTER ****************/

.ftr {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #666666;
    border-top: 7px solid #4aaaa5;
}

footer {
    text-align: center;
    color: #dddddd;
    font-size: 10px;
    padding-top: 30px;
}

/****************************************/

/*************** ABOUT ME ***************/

.content {

}

/****************************************/

